/* Links */
a {
  text-decoration: none;
  color: blue;
}

/* h1 */
h1 {
  color: blue;
  font-family: Arial;
  font-size: 16pt;
}

/* h3 */
h3 {
  color: blue;
  font-family: Arial;
  font-size: 12pt;
}

/* Classe */
.nomeCampo {
  color: black;
  font-family: Arial;
  font-size: 12pt;
}
